h1 {
  margin: 0px; }

.navbar {
  margin: 0px;
  background-color: #175676; }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: #cce6f4; }

.btn-danger {
  background-color: #ba324f;
  border-radius: 50%; }

#sidebar {
  height: 100%;
  background-color: #cce6f4; }
  #sidebar .row {
    width: 100%; }
  #sidebar .sidebar-inner {
    padding: 15px;
    margin: 10px;
    background-color: #4ba3c3;
    border-radius: 5px;
    color: #cce6f4; }

select {
  color: #175676; }
